
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('/fonts/inter.css');



@layer base {
  @import "./assets/main.css";
  @import "./assets/custom.css";
}


header nav {
  display: flex !important;
  visibility: visible !important;
  opacity: 1 !important;
}

@keyframes rotate-slow {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

.animate-rotate-slow {
  animation: rotate-slow 60s linear infinite;
  transform-origin: center center;
}


.stack-cards__item {
  transition: transform 0.3s ease-out;
  will-change: transform;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}


@keyframes rotate-slow {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}
.animate-rotate-slow {
  animation: rotate-slow 60s linear infinite;
  transform-origin: center center;
}


.rotate-mitigation { will-change: transform; transform: translateZ(0); }


[data-ns-animate] { opacity: 0; }
[data-ns-animate].gsap-animated { opacity: 1 !important; }


